body {
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	letter-spacing: normal;
	line-height: 2em; 
	text-decoration: none; 
	color: #003366; 
	background-color: #DCDCDC;
	margin: 0;
	padding: 0;
 
    }
	
h1 {
	font-size: 1.8em; 
	text-align: left;
	letter-spacing: .2em;	
}	
	
h2 {
	font-size: 1.2em; 
	text-align: left;
	text-transform:uppercase;
	color: #006666;	
	background-color: inherit;
}

h3 {
	text-align: left;
	font-style: italic;
	color: #006666; 	
	background-color: inherit;
}

p {
	text-align: left;
}	
	
	
/* Page Layout */



#mainContainer {
	color: inherit;  
	background-color: white;
	border: 1px solid black;
	width:1000px;
	margin:10px auto;
	}
	#header{
		background-color: #FFFFCC;
		border: 1px solid black;
		width:20%;
		height:200px;
		margin:10px;
		float:left;
		overflow:auto;
	}
    

    
	#navigation{
		background-color: #FFDFFF;
		border: 1px solid black;
        width:20%;
        margin:10px ;  
        float:right;
        overflow:auto;
  
	}
	#pageContent{
		background-color:#CEFFFF;
		border: 1px solid black;
		width:55%;
		height:500px;
        margin:10px 210px 10px 210px;
		overflow:auto;
        
        
	
	}
	#footer{
		background-color:#F5F5F5;
		border: 1px solid black;
		margin:10px;
	}